
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
* {
    font-family: 'Fredoka One', cursive;
    overflow-x: hidden;
}
.bg-light {
    background-color: #020913 !important;
}
.backgroundSmoke {
    background-image: url(../img/BackgroundSmoke.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
}
h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 0;
}
#CortesCarrousel1 {
    padding-bottom: 9rem;
}
.carousel-caption  p {
    font-size: 26px;
}
.carousel-item img {
    height: 520px;
    opacity: 0.7;
}
.navbar-nav a {
    color: #E7E7E7 !important;
}
.navbar-nav a:hover {
    color:  white !important;
}
.navbar-collapse {
    flex-grow: 0;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 3rem;
}
.carousel-caption {
    padding-bottom: 5.5rem;
}
.carousel-caption p{
    margin-top: 30px;
}
.navbar-toggler {
    background-color: #E7E7E7;
}
.d-none {
    display: block !important;
}
#QuienesSomos {
    padding-top: 40px;
    padding-bottom: 40px;
}
.QuienesSomos {
    text-align: center;
    color: #E7E7E7;
    margin-bottom: 40px;
    font-size: 40px;
}
#ParrafoQuienes {
    padding-top: 150px;
    padding-right: 0px;
}
.heading-block h3 {
    margin-bottom: 30px;
    color: #E7E7E7;
}
.ParrafoSomosEmpresa {
    color: #E7E7E7;
}
.ListaCortes li {
    text-transform: uppercase;
}
footer {
    background-color: #020913;
}
.section-footer {
    color: #E7E7E7;
}
.Copyright {
    color: #E7E7E7;
}
.text-reset {
    text-decoration: none;
}
.text-reset:hover {
    color: white;
    text-decoration: underline;
}
.NuestrosCortes {
    background-color: #E7E7E7;
}
#CarrouselCortes img {
    opacity: 1;
}
#ParrafoCortes {
    padding-top: 95px; 
}
#ParrafoPaquetes {
    padding-top: 95px;
    padding-top: 90px;
    color: #E7E7E7;
    font-size: 18px;
}
#ParrafoPaquetes h4{
    color: white;
}
#CortesPremium {
    padding-bottom: 0px;
    color: #000;
}
#CortesPremium h4 {
    font-size: 40px;
}
#Servicios {
    padding-top: 40px;
    padding-bottom: 40px;
}
#Servicios img {
    width: 450px;
}
.ServiciosTitulo {
    text-align: center;
    color: #E7E7E7;
    margin-bottom: 40px;
    font-size: 40px;
}
#ParrafoEnvios {
    padding-top: 125px;
    padding-right: 0px;
    color: #E7E7E7;
    font-size: 18px;
}
#ImgBarbacoa {
    width: 500px;
}
#PaquetesCarnes {
    padding-top: 70px;
    padding-bottom: 70px;
}
#ParrafoCortes h4 {
    color: white;
}
#ParrafoCortes {
    padding-top: 90px;
    color: #E7E7E7;
    font-size: 18px;
}
.ParrafoServicios {
    margin-top: 20px;
}
.container {
    position: relative;
    perspective: 1000px;
    padding-top: 60px;
    padding-bottom: 60px;
}
.container .slide-container .slide {
    border-radius: 5px;
    background: #2d2d2d;
    box-shadow: 0 5px 10px #3337;
    width: 700px;
    padding: 70px;
    margin: 10px;
    position: relative;
    transform-style: preserve-3d;
    animation:slide .4s linear;
    margin-left: 23%;
}

@keyframes slide {
    0%{
        transform: rotateX(180deg);
    }
}

.container .slide-container .slide > *{
    animation: slideContent .2s linear .4s backwards;
}

@keyframes slideContent {
    0%{
        opacity: 0;
        transform: scale(.5);
    }
}

.container .slide-container .slide .icon {
    position: absolute;
    top: 10px; right: 15px;
    font-size: 90px;
    color: #E7E7E7;
}
.container .slide-container .slide .user {
    display: flex;
    align-items: center;
}
.container .slide-container .slide img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.container .slide-container .slide .user .user-info h3 {
    color: #E7E7E7;
    font-size: 20px;
}
.container .slide-container .slide .user .user-info .stars i {
    color: #FFC60A;
    font-size: 15px;
}
.container .slide-container .slide .text {
    color: #E7E7E7;
    font-size: 14px;
    padding-top: 15px;
    font-style: italic;
}
.container .slide-container {
    display: none;
}
.container .slide-container.active {
    display: block;
}
.container #next,
.container #prev {
    position: absolute;
    top: 50%;
    transform: rotateY(-50%);
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 20px;
    background: #fff;
    color: #333;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 5px 10px #3337;
}
.container #next {
    right: 150px;
    margin-top: 40px;
}
.container #prev {
    left: 150px;
    margin-top: 40px;
}
.container #next:hover,
.container #prev:hover {
    background: #333;
    color: #fff;
}
.NuestrosClientes {
    text-align: center;
    color: #E7E7E7;
    margin-bottom: 80px;
    font-size: 40px;
}
.shadow-effect {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
border:1px solid #ECECEC;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10), 0 15px 12px rgba(0,0,0,0.02);
}
#customers-testimonials .shadow-effect p {
    font-family: inherit;
    font-size: 17px;
    line-height: 1.5;
    margin: 0 0 17px 0;
    font-weight: 300;
}
.testimonial-name {
    margin: -17px auto 0;
    display: table;
    width: auto;
    background: #3190E7;
    padding: 9px 35px;
    border-radius: 12px;
    text-align: center;
    color: #fff;
    box-shadow: 0 9px 18px rgba(0,0,0,0.12), 0 5px 7px rgba(0,0,0,0.05);
}
#customers-testimonials .item {
    text-align: center;
    padding: 50px;
        margin-bottom:80px;
    opacity: .2;
    -webkit-transform: scale3d(0.8, 0.8, 1);
    transform: scale3d(0.8, 0.8, 1);
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
    opacity: 1;
    -webkit-transform: scale3d(1.0, 1.0, 1);
    transform: scale3d(1.0, 1.0, 1);
}
.owl-carousel .owl-item img {
    transform-style: preserve-3d;
    max-width: 90px;
    margin: 0 auto 17px;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot.active span,
#customers-testimonials.owl-carousel .owl-dots .owl-dot:hover span {
    background: #3190E7;
    transform: translate3d(0px, -50%, 0px) scale(0.7);
}
#customers-testimonials.owl-carousel .owl-dots{
display: inline-block;
width: 100%;
text-align: center;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot{
display: inline-block;
}
#customers-testimonials.owl-carousel .owl-dots .owl-dot span {
    background: #3190E7;
    display: inline-block;
    height: 20px;
    margin: 0 2px 5px;
    transform: translate3d(0px, -50%, 0px) scale(0.3);
    transform-origin: 50% 50% 0;
    transition: all 250ms ease-out 0s;
    width: 20px;
}
.TitleForm {
    font-size: 40px;
    color: #E7E7E7;
    text-align: center;
    padding-top: 25px;
}
.SubtitleForm {
    font-size: 25px;
    color: #E7E7E7;
    text-align: center;
}
input:focus ~ label, textarea:focus ~ label, input:valid ~ label, textarea:valid ~ label {
    font-size: 0.75em;
    color: #E7E7E7;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.styled-input {
    float: left;
    width: 293px;
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

@media only screen and (max-width: 768px){
    .styled-input {
        width:100%;
    }
}

.styled-input label {
    color: #E7E7E7;
    padding: 1.3rem 30px 1rem 30px;
    position: absolute;
    top: 10px;
    left: 0;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.styled-input.wide { 
    width: 650px;
    max-width: 100%;
}

input,
textarea {
    padding: 30px;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

input:focus,
textarea:focus { 
    outline: 0; 
}

input:focus ~ span,
textarea:focus ~ span {
    width: 100%;
    -webkit-transition: all 0.075s ease;
    transition: all 0.075s ease;
}

textarea {
    width: 100%;
    min-height: 15em;
}

.input-container {
    width: 650px;
    max-width: 100%;
    margin: 20px auto 25px auto;
}

.submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #2d2d2d;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.06),
                0 2px 10px 0 rgba(0,0,0,0.07);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.10),
              0 1px 1px 0 rgba(0,0,0,0.09);
    color: #2d2d2d;
    background-color: #E7E7E7;
}

.ButtonSubmit {
    text-align: center;
}

@media (max-width: 768px) {
    .submit-btn {
        width:100%;
        float: none;
        text-align:center;
    }
}

input[type=checkbox] + label {
  color: #E7E7E7;
  font-style: italic;
} 

input[type=checkbox]:checked + label {
  color: #f00;
  font-style: normal;
}
.swal2-icon {
    overflow-y: hidden !important;
}
@media only screen and (max-width: 600px) {
    h2 {
        font-size: 30px;
        letter-spacing: 2px;
        text-transform: uppercase;
    }
    .carousel-caption p{
        margin-top: 10px;
        font-size: 20px;
    }
    .carousel-caption {
        padding-bottom: 7.5rem;
    }
    #QuienesSomos img {
        width: 330px;
        margin-left: 23px;
    }
    #ParrafoQuienes {
        padding: 35px;
    }
    #ParrafoQuienes h3, p {
        text-align: center;
    }
    #ParrafoCortes {
        padding: 35px;
    }
    #Servicios {
        padding-top: 50px;
    }
    #Servicios img {
        width: 330px;
        margin-left: 23px;
    }
    #ParrafoEnvios {
        padding: 35px;
    }
    #ParrafoEnvios h4, p {
        text-align: center;
    }
    #PaquetesCarnes {
        padding: 26px;
    }
    #ParrafoPaquetes {
        padding-top: 0px;
        text-align: center;
    }
    #ImgPaquete img{
        margin-left: -3px;
    }
    #ImgBarbacoa {
        padding-top: 55px;
    }
    .NuestrosClientes {
        margin-bottom: 65px;
    }
    .container .slide-container .slide {
        margin-left: 0px;
        width: 350px;
        padding: 20px;
    }
    .fa-quote-right {
        font-size: 30px !important;
    }
    .container {
        padding-top: 0px;
    }
    .container #next {
        right: 110px;
        margin-top: 190px;
    }
    .container #prev {
        left: 110px;
        margin-top: 190px;
    }
    .TitleForm {
        padding-top: 60px;
    }
}